@import url("../css/bootstrap-extended.css");
@import url("../css/font-awesome.css");
@import url("../css/jquery-ui.css");
.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

a {
  outline: none !important; }

html, body {
  height: 100%; }

body {
  background: fixed url(../images/background.jpg);
  background-size: cover;
  color: #fff;
  font: 14px/23px Arial, Helvetica Neue, Helvetica, sans-serif; }

.a-btn {
  display: inline-block;
  padding: 9px 30px;
  border-radius: 2px;
  font: 14px/23px Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #fff;
  margin-bottom: 10px; }
  .a-btn:hover {
    color: #fff; }
  .a-btn.a-btn-orange {
    background: #9c918a; }
  .a-btn.a-btn-light-orange {
    padding: 9px 30px 6px;
    border-bottom: 3px solid #9c918a;
    background: #b0a7a1; }
    .a-btn.a-btn-light-orange:hover {
      text-decoration: none;
      background: #9c918a; }
  .a-btn.a-btn-lighter-orange {
    color: #433a35;
    padding: 9px 30px 6px;
    border-bottom: 3px solid #9c918a;
    background: #e3e0de; }
    .a-btn.a-btn-lighter-orange:hover {
      text-decoration: none;
      background: #9c918a; }
  .a-btn.a-btn-cyan {
    background: #8a9c9a; }
  .a-btn.a-btn-light-cyan {
    padding: 9px 30px 6px;
    border-bottom: 3px solid #8a9c9a;
    background: #a1b0ae; }
    .a-btn.a-btn-light-cyan:hover {
      text-decoration: none;
      background: #8a9c9a; }
  .a-btn.a-btn-lighter-cyan {
    color: #433a35;
    padding: 9px 30px 6px;
    border-bottom: 3px solid #8a9c9a;
    background: #dee3e3; }
    .a-btn.a-btn-lighter-cyan:hover {
      text-decoration: none;
      background: #8a9c9a; }
  .a-btn.a-btn-violet {
    background: #958a9c; }
  .a-btn.a-btn-light-violet {
    padding: 9px 30px 6px;
    border-bottom: 3px solid #958a9c;
    background: #aaa1b0; }
    .a-btn.a-btn-light-violet:hover {
      text-decoration: none;
      background: #958a9c; }
  .a-btn.a-btn-lighter-violet {
    color: #433a35;
    padding: 9px 30px 6px;
    border-bottom: 3px solid #958a9c;
    background: #e1dee3; }
    .a-btn.a-btn-lighter-violet:hover {
      text-decoration: none;
      background: #958a9c; }
  .a-btn.a-btn-green {
    background: #6b9371; }
  .a-btn.a-btn-light-green {
    padding: 9px 30px 6px;
    border-bottom: 3px solid #6b9371;
    background: #80a988; }
    .a-btn.a-btn-light-green:hover {
      text-decoration: none;
      background: #6b9371; }
  .a-btn.a-btn-lighter-green {
    color: #433a35;
    padding: 9px 30px 6px;
    border-bottom: 3px solid #6b9371;
    background: #b8e1c3; }
    .a-btn.a-btn-lighter-green:hover {
      text-decoration: none;
      background: #6b9371; }
  .a-btn.a-btn-bordered-xs {
    border: 1px solid #9c918a;
    padding: 8px 29px; }
  .a-btn.a-btn-bordered-sm {
    border: 2px solid #9c918a;
    padding: 7px 28px; }
  .a-btn.a-btn-bordered-md {
    border: 3px solid #9c918a;
    padding: 6px 27px; }
  .a-btn.a-btn-bordered-lg {
    border: 5px solid #9c918a;
    padding: 4px 25px; }
  .a-btn.shadow {
    -ms-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2);
    -o-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2); }
  .a-btn.a-btn-danger {
    background: #936b6b; }
    .a-btn.a-btn-danger:hover {
      background: #a00; }

.checkbox {
  display: none; }
  .checkbox + label {
    cursor: pointer;
    position: relative;
    width: 21px;
    height: 20px;
    border: 1px solid #9c918a;
    border-radius: 2px;
    -ms-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2);
    -o-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2); }
    .checkbox + label:hover:before {
      background: rgba(67, 58, 53, 0.3); }
    .checkbox + label:before {
      content: "";
      width: 9px;
      height: 8px;
      top: 5px;
      left: 5px;
      position: absolute;
      border-radius: 1px; }
  .checkbox:checked + label:before {
    content: "";
    background: #b8e1c3; }

.radio {
  display: none; }
  .radio + label {
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #9c918a;
    border-radius: 50%;
    -ms-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2);
    -o-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2); }
    .radio + label:hover:before {
      background: rgba(67, 58, 53, 0.3); }
    .radio + label:before {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      border-radius: 50%;
      top: 3px;
      left: 3px; }
  .radio:checked + label:before {
    content: "";
    background: #b8e1c3; }

.switch {
  display: none; }
  .switch.switch:checked + label:before {
    right: 0;
    background: #b8e1c3; }
  .switch.switch + label {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    width: 70px;
    height: 28px;
    padding: 0;
    border: 1px solid #9c918a;
    border-radius: 2px;
    background-color: transparent;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
    -ms-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2);
    -o-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.05), 0px 2px 0px 0px rgba(66, 58, 53, 0.2); }
    .switch.switch + label:before {
      content: "";
      display: block;
      width: 33px;
      height: 22px;
      margin: 2px;
      background: #9c918a;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 31px;
      border-radius: 2px;
      -webkit-transition: all 0.2s ease-in 0s;
      transition: all 0.2s ease-in 0s;
      -ms-box-shadow: 0px 2px 0px 0px rgba(66, 58, 53, 0.2);
      -o-box-shadow: 0px 2px 0px 0px rgba(66, 58, 53, 0.2);
      box-shadow: 0px 2px 0px 0px rgba(66, 58, 53, 0.2); }

.slider .ui-slider-handle:before {
  position: absolute;
  left: 0;
  right: 0;
  background: red; }

#wrapper {
  height: 100%; }

#header {
  font-size: 0;
  line-height: 0; }
  #header a {
    width: 67px;
    line-height: 56px;
    margin-right: 1px;
    font-size: 30px;
    text-decoration: none;
    color: #896d5e;
    background: rgba(59, 54, 51, 0.6); }
    #header a:hover {
      background: rgba(28, 23, 20, 0.8); }
  #header .buttons {
    float: left; }
  #header .holder {
    overflow: hidden;
    font: 14px/23px Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #fff;
    background: rgba(59, 54, 51, 0.6);
    padding-right: 233px; }
    #header .holder p {
      float: left;
      padding: 16px 51px 7px; }
    #header .holder .dropdown {
      position: static;
      float: right;
      cursor: pointer; }
      #header .holder .dropdown a {
        margin-right: 0;
        background: none;
        color: #a29791; }
      #header .holder .dropdown:hover {
        background: rgba(28, 23, 20, 0.8); }
      #header .holder .dropdown.open {
        background: rgba(28, 23, 20, 0.8); }
      #header .holder .dropdown .dropdown-menu {
        border: 0 none;
        border-radius: 0;
        box-shadow: unset;
        left: auto;
        margin: 0;
        padding: 0;
        right: 233px;
        top: auto;
        background: rgba(28, 23, 20, 0.8); }
        #header .holder .dropdown .dropdown-menu a {
          font: 16px/47px Arial, Helvetica Neue, Helvetica, sans-serif;
          width: 100%; }
          #header .holder .dropdown .dropdown-menu a:hover {
            border-right: 5px solid #dd7d4a; }

#main {
  position: relative;
  height: 100%; }

#aside {
  width: 203px;
  margin: 1px 1px 0 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(59, 54, 51, 0.6); }
  #aside .navAside {
    list-style: none;
    margin: 0;
    padding: 29px 0 0 0; }
    #aside .navAside li {
      margin: 0;
      padding: 0 0 7px 0;
      display: block; }
      #aside .navAside li a {
        font: 16px/47px Arial, Helvetica Neue, Helvetica, sans-serif;
        width: 100%;
        padding: 8px 0 16px 69px;
        background: none;
        color: #b9b1ac;
        outline: none;
        line-height: 1;
        display: block; }
        #aside .navAside li a:focus, #aside .navAside li a:hover {
          text-decoration: none; }
      #aside .navAside li:hover > a {
        border-right: 5px solid #dd7d4a;
        color: #fff; }
    #aside .navAside > li.active > a {
      border-right: 5px solid #dd7d4a;
      color: white; }
    #aside .navAside > li.active .inner-nav {
      display: block; }
    #aside .navAside .icon-li1 {
      background: url(../images/icon_li1.png) no-repeat 30px 6px; }
    #aside .navAside .icon-li2 {
      background: url(../images/icon_li2.png) no-repeat 30px 6px; }
    #aside .navAside .icon-li3 {
      background: url(../images/icon_li3.png) no-repeat 30px 6px; }
    #aside .navAside .icon-li4 {
      background: url(../images/icon_li4.png) no-repeat 30px 6px; }
    #aside .navAside .icon-li5 {
      background: url(../images/icon_li5.png) no-repeat 30px 6px; }
    #aside .navAside .icon-li6 {
      background: url(../images/icon_li6.png) no-repeat 30px 6px; }
    #aside .navAside .icon-li7 {
      background: url(../images/icon_li7.png) no-repeat 30px 6px; }
    #aside .navAside .icon-li8 {
      background: url(../images/icon_li8.png) no-repeat 30px 6px; }
    #aside .navAside .icon-li9 {
      background: url(../images/icon_li9.png) no-repeat 30px 6px; }
    #aside .navAside .icon-li10 {
      background: url(../images/icon_li10.png) no-repeat 30px 6px; }
  #aside .inner-nav {
    display: none;
    list-style: none;
    margin: 0;
    padding: 4px 0;
    background-color: rgba(42, 37, 34, 0.8); }
    #aside .inner-nav li {
      margin: 1px 0;
      padding: 0; }
      #aside .inner-nav li a {
        color: #827670;
        padding: 11px 0 11px 90px;
        border: none; }
        #aside .inner-nav li a:hover {
          text-decoration: underline;
          border: none; }
        #aside .inner-nav li a:active {
          border: none; }

#content {
  padding: 49px 0 0 254px;
  max-width: 1369px;
  margin: 0; }
  #content .hedaerPage {
    overflow: hidden;
    margin: 0 0 15px 0; }
    #content .hedaerPage .pageCaption {
      float: left; }
      #content .hedaerPage .pageCaption h1 {
        margin: 0 0 7px 0;
        padding: 0;
        font-size: 24px;
        line-height: 1; }
      #content .hedaerPage .pageCaption h3 {
        margin: 0 0 0 0;
        padding: 23px 0 3px 0;
        font-size: 16px;
        font-weight: bold; }
    #content .hedaerPage .mainFacts {
      float: right;
      overflow: hidden;
      padding: 6px 0 0 0; }
      #content .hedaerPage .mainFacts .monitoring {
        text-align: left;
        float: left;
        margin: 0 0 0 90px; }
        #content .hedaerPage .mainFacts .monitoring:first-child {
          margin: 0; }
        #content .hedaerPage .mainFacts .monitoring h3 {
          margin: 0 0 12px 0;
          padding: 0;
          font-size: 16px; }
        #content .hedaerPage .mainFacts .monitoring b {
          font-weight: bold;
          font-size: 36px;
          line-height: 1; }
        #content .hedaerPage .mainFacts .monitoring small {
          font-size: 16px;
          margin: 0 0 0 1px;
          line-height: 1; }
  #content .tableHolder {
    font-size: 0;
    margin-bottom: 66px; }
  #content table {
    width: 33.333333%;
    display: inline-table;
    vertical-align: top;
    border-collapse: separate;
    border-spacing: 1px 2px;
    padding-left: 1px;
    font: 14px/32px Arial, Helvetica Neue, Helvetica, sans-serif; }
    #content table:first-child {
      padding-left: 0; }
    #content table i {
      font-size: 28px;
      margin-right: 15px; }
    #content table thead {
      font: 16px/61px Arial, Helvetica Neue, Helvetica, sans-serif; }
      #content table thead td {
        color: #fff;
        padding: 2px 0 0 31px; }
    #content table tfoot a {
      font: 14px/34px Arial, Helvetica Neue, Helvetica, sans-serif;
      color: #fff;
      float: none; }
    #content table tfoot td {
      padding: 0 0 3px 0; }
    #content table tbody {
      padding-right: 16px; }
      #content table tbody a {
        float: right;
        font-size: 12px;
        color: #fff;
        margin-right: 3px; }
        #content table tbody a:first-child {
          margin-right: 0; }
      #content table tbody big {
        display: block;
        font-size: 18px;
        line-height: normal;
        margin: 10px 0 3px -1px; }
      #content table tbody small {
        font: 14px/23px Arial, Helvetica Neue, Helvetica, sans-serif;
        display: block;
        margin-bottom: 9px; }
      #content table tbody .num {
        padding: 0 33px 0 38px;
        font: 36px/normal Arial, Helvetica Neue, Helvetica, sans-serif;
        font-weight: bold; }
    #content table td {
      color: #fff;
      padding: 0 10px 0 32px;
      background: rgba(112, 100, 93, 0.7); }
    #content table .post {
      width: 100%;
      overflow: hidden;
      margin: 21px 0 0 -4px;
      font: 14px/23px Arial, Helvetica Neue, Helvetica, sans-serif; }
      #content table .post img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        float: left;
        margin: 0 22px 0 0; }
      #content table .post p {
        margin: 0;
        vertical-align: middle;
        padding: 3px 16px 0 0; }
      #content table .post:first-child {
        margin-top: 24px; }
      #content table .post:last-child {
        margin-bottom: 28px; }
  #content .informers {
    font-size: 0; }
    #content .informers .post p {
      padding: 1px; }
  #content .alerts {
    width: 64.9%;
    margin-right: 1.76%; }
    #content .alerts span {
      font-size: 28px;
      float: right;
      padding: 25px 17px 0; }
    #content .alerts tbody td {
      line-height: 80px;
      padding: 0 10px 0 30px; }
  #content .name {
    font: 18px/23px Arial, Helvetica Neue, Helvetica, sans-serif; }
  #content .info {
    background: rgba(255, 185, 143, 0.3); }
  #content .success {
    background: rgba(212, 255, 143, 0.3); }
  #content .alarm {
    background: rgba(255, 143, 143, 0.3); }
  #content .sectionPage {
    padding: 38px 0 0 0; }
  #content .box-holder {
    display: inline-block;
    vertical-align: top;
    padding: 0 16px 30px 0; }
    #content .box-holder.lg {
      width: 66.5%;
      max-width: 738px; }
    #content .box-holder.sm {
      width: 33.5%;
      max-width: 370px;
      padding: 0 0 30px 0; }
    #content .box-holder > h3 {
      margin: 0 0 2px 0;
      padding: 23px 30px 23px 76px;
      background: rgba(112, 100, 93, 0.5) url(../images/icon_head.png) no-repeat 30px 20px;
      font-size: 16px; }
    #content .box-holder .box-content {
      background-color: rgba(112, 100, 93, 0.5);
      padding: 32px 30px 27px 30px;
      min-height: 299px; }
      #content .box-holder .box-content img {
        display: block;
        height: auto; }
      #content .box-holder .box-content .position1 {
        padding: 0 0 0 10px; }
      #content .box-holder .box-content .position2 {
        padding: 5px 0 0 0; }
      #content .box-holder .box-content .position3 {
        padding: 8px 0 0 0; }
    #content .box-holder .prg-bars {
      list-style: none;
      margin: 0;
      padding: 9px 17px 0 17px; }
      #content .box-holder .prg-bars li {
        padding: 0;
        margin: 0;
        overflow: hidden; }
      #content .box-holder .prg-bars li + li {
        margin: 20px 0 0 0; }
      #content .box-holder .prg-bars h3 {
        font-size: 16px;
        line-height: 31px;
        width: 28%;
        float: left;
        margin: 0;
        padding: 0; }
      #content .box-holder .prg-bars .progresbar {
        width: 72%;
        float: right;
        padding: 1px;
        border: 1px solid #9c918a;
        border-radius: 2px;
        overflow: hidden; }
        #content .box-holder .prg-bars .progresbar .progres {
          float: left;
          line-height: 1;
          height: 27px;
          margin: 0 10px 0 0; }
          #content .box-holder .prg-bars .progresbar .progres.orbar {
            width: 37%;
            background-color: #dd7d4a; }
          #content .box-holder .prg-bars .progresbar .progres.yelbar {
            width: 48.5%;
            background-color: #dddb4a; }
          #content .box-holder .prg-bars .progresbar .progres.bluebar {
            width: 46.1%;
            background-color: #4aaedd; }
          #content .box-holder .prg-bars .progresbar .progres.redbar {
            width: 66%;
            background-color: #dd4a4a; }
        #content .box-holder .prg-bars .progresbar strong {
          display: block;
          font-size: 16px;
          margin: 0;
          padding: 0;
          line-height: 27px;
          font-weight: normal; }
  #content form {
    max-width: 1089px; }
    #content form input, #content form textarea {
      background-color: transparent;
      border: 1px solid #9c918a;
      border-radius: 1px;
      font-size: 14px;
      line-height: 23px;
      color: #fff; }
    #content form input[type='text'] {
      width: 100%;
      margin: 0 0 20px 0;
      padding: 7px 15px 9px; }
    #content form textarea {
      width: 100%;
      height: 259px;
      margin: -1px 0 21px 0;
      padding: 15px; }
    #content form #publish-btn {
      padding: 7px 26px 8px;
      margin: 0 10px 20px 0;
      color: rgba(255, 255, 255, 0.6); }
    #content form #save-btn {
      padding: 7px 17px 8px;
      margin: 0 0 20px 0;
      color: rgba(255, 255, 255, 0.6); }
    #content form #publish-btn:hover, #content form #save-btn:hover {
      color: white;
      border-color: white;
      -ms-box-shadow: inset, 0px, 5px, 4px, #635349;
      -o-box-shadow: inset, 0px, 5px, 4px, #635349;
      box-shadow: inset, 0px, 5px, 4px, #635349; }
    #content form .text-edit {
      list-style: none;
      margin: 0;
      padding: 14px 29px 11px;
      border: 1px solid #9c918a; }
      #content form .text-edit li {
        display: inline-block;
        margin: 0 12px 0 0;
        padding: 0; }
        #content form .text-edit li a {
          display: block;
          width: 16px;
          height: 16px;
          background: url(../images/icon_instrument1.png) no-repeat 0 0;
          outline: none;
          text-decoration: none;
          opacity: 0.8; }
          #content form .text-edit li a:hover {
            text-decoration: none;
            opacity: 1; }
        #content form .text-edit li .icon-instrument2 {
          background: url(../images/icon_instrument2.png) no-repeat 0 0; }
        #content form .text-edit li .icon-instrument3 {
          background: url(../images/icon_instrument3.png) no-repeat 0 0; }
        #content form .text-edit li .icon-instrument4 {
          background: url(../images/icon_instrument4.png) no-repeat 0 0; }
        #content form .text-edit li .icon-instrument5 {
          background: url(../images/icon_instrument5.png) no-repeat 0 0; }
        #content form .text-edit li .icon-instrument6 {
          background: url(../images/icon_instrument6.png) no-repeat 0 0; }
        #content form .text-edit li .icon-instrument7 {
          background: url(../images/icon_instrument7.png) no-repeat 0 0; }
        #content form .text-edit li .icon-instrument8 {
          background: url(../images/icon_instrument8.png) no-repeat 0 0; }
        #content form .text-edit li .icon-instrument9 {
          background: url(../images/icon_instrument9.png) no-repeat 0 0; }
        #content form .text-edit li .icon-instrument10 {
          background: url(../images/icon_instrument10.png) no-repeat 0 0; }
  #content .btnHolder {
    width: 50%;
    font-size: 0; }
    #content .btnHolder .btnHolderInner {
      max-width: 20%;
      display: inline-block;
      padding: 47px 17px 55px; }
  #content .inputHolder {
    height: 300px; }
  #content .section-posts .form-group {
    max-width: 1112px;
    margin: 0 0 0 0;
    padding: 0; }
    #content .section-posts .form-group .boxLt {
      float: left; }
      #content .section-posts .form-group .boxLt .dropdown {
        display: inline-block;
        margin: 0 6px 15px 0; }
        #content .section-posts .form-group .boxLt .dropdown .a-btn {
          background-color: transparent;
          width: 195px;
          padding: 8px 13px 8px 17px;
          margin: 0;
          text-align: left; }
        #content .section-posts .form-group .boxLt .dropdown .title-dropdw {
          padding: 0 65px 0 0; }
        #content .section-posts .form-group .boxLt .dropdown .fa {
          font-size: 24px;
          line-height: 15px;
          vertical-align: middle; }
      #content .section-posts .form-group .boxLt .a-btn {
        margin: 0 0 15px 0;
        padding: 8px 31px; }
    #content .section-posts .form-group .boxRt {
      float: right; }
      #content .section-posts .form-group .boxRt input[type=search] {
        padding: 8px 13px;
        width: 195px;
        margin: 0 10px 15px 0; }
      #content .section-posts .form-group .boxRt .a-btn {
        margin: 0 0 15px 0;
        padding: 8px 21px; }
  #content .section-posts .table-post {
    width: 100%;
    max-width: 1112px;
    font: 14px/23px Arial, Helvetica Neue, Helvetica, sans-serif;
    border-spacing: 0px 1px;
    padding: 0; }
    #content .section-posts .table-post td {
      padding: 5px;
      margin: 0;
      text-align: left;
      vertical-align: middle;
      height: 63px; }
    #content .section-posts .table-post .td-choose {
      width: 56px;
      text-align: right; }
      #content .section-posts .table-post .td-choose label {
        margin: 8px 4px 0 0; }
    #content .section-posts .table-post .td-title {
      width: 254px; }
    #content .section-posts .table-post .td-author {
      width: 132px; }
    #content .section-posts .table-post .td-categories {
      width: 147px; }
    #content .section-posts .table-post .td-tags {
      width: 211px; }
    #content .section-posts .table-post .td-date {
      width: 144px; }
    #content .section-posts .table-post .td-views {
      width: 125px; }
    #content .section-posts .table-post .td-delete {
      width: 45px; }
    #content .section-posts .table-post thead {
      padding: 0;
      margin: 0;
      background-color: #695d56;
      font: 14px/23px Arial, Helvetica Neue, Helvetica, sans-serif; }
    #content .section-posts .table-post tbody {
      padding: 0;
      margin: 0; }
      #content .section-posts .table-post tbody .td-delete .fa {
        font-size: 15px;
        float: none; }
        #content .section-posts .table-post tbody .td-delete .fa:hover, #content .section-posts .table-post tbody .td-delete .fa:focus {
          text-decoration: none; }
/*# sourceMappingURL=main.css.map */